@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../assets/fonts/codropsicons/codropsicons.eot');
	src:url('../assets/fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../assets/fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../assets/fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }



.codrops-header {
	margin: 0 auto;
	padding: 2em;
	text-align: center;
}

.codrops-header h1 {
	margin: 0;
	font-weight: 300;
	font-size: 2.6em;
}

.codrops-header h1 span {
	display: block;
	padding: 0.3em 0 2em;
	font-size: 0.45em;
}

.codrops-demos a {
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 10px;
}

.codrops-demos a.current-demo {
	color: #fff;
}

/* To Navigation Style */
.codrops-top {
	width: 100%;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.69em;
	line-height: 2.2;
}

.codrops-top a {
	display: inline-block;
	padding: 0 1em;
	text-decoration: none;
	letter-spacing: 1px;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	display: block;
	float: left;
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

section {
	padding: 0em 3% 4em;
	text-align: center;
	font-size: 1.5em;
}

.related > a {
	border: 3px solid rgba(0,0,0,0.4);;
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
	-webkit-transition: color 0.3s, border-color 0.3s;
	transition: color 0.3s, border-color 0.3s;
}

.related a:hover {
	border-color: #fff;
}

.related a img {
	max-width: 100%;
	opacity: 0.8;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	padding: 0.5em 0 0.3em;
	max-width: 300px;
	text-align: left;
	font-size: 0.75em;
}

@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}
















@font-face {
	font-family: 'fontawesome';
	src:url('../assets/fonts/fontawesome/fontawesome.eot?-v92fkb');
	src:url('../assets/fonts/fontawesome/fontawesome.eot?#iefix-v92fkb') format('embedded-opentype'),
		url('../assets/fonts/fontawesome/fontawesome.woff?-v92fkb') format('woff'),
		url('../assets/fonts/fontawesome/fontawesome.ttf?-v92fkb') format('truetype'),
		url('../assets/fonts/fontawesome/fontawesome.svg?-v92fkb#fontawesome') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Blokk';
	src: url('../assets/fonts/blokk/BLOKKRegular.eot');
	src: url('../assets/fonts/blokk/BLOKKRegular.eot?#iefix') format('embedded-opentype'),
		 url('../assets/fonts/blokk/BLOKKRegular.woff') format('woff'),
		 url('../assets/fonts/blokk/BLOKKRegular.svg#BLOKKRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}


.noscroll {
	overflow: hidden;
}

.grid-wrap {
	margin: 10px auto 0;
	max-width: 1090px;
	width: 100%;
	padding: 0;
	-webkit-perspective: 1500px;
	perspective: 1500px;
}

.grid {
	position: relative;
	-webkit-transition: all 0.5s cubic-bezier(0,0,0.25,1);
	transition: all 0.5s cubic-bezier(0,0,0.25,1);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.view-full .grid {
	-webkit-transform: translateZ(-1500px);
	transform: translateZ(-1500px);
}

.grid figure,
.grid .placeholder {
	width: 340px;
	height: 300px;
}

.grid figure {
	
	display: inline-block;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.grid figure.active {
	opacity: 0;
}

.grid .placeholder {
	pointer-events: none;
	position: absolute;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.placeholder > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.placeholder .front img {
	width: 100%;
	height: 100%;
}

.placeholder .back {
	background: white;
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.view-full .placeholder {
	-webkit-transition: all 0.5s 0.1s cubic-bezier(0,0,0.25,1);
	transition: all 0.5s 0.1s cubic-bezier(0,0,0.25,1);
}

.vertical .view-full .placeholder {
	-webkit-transform: translateZ(1500px) rotateX(-179.9deg);
	transform: translateZ(1500px) rotateX(-179.9deg); /* FF, Chrome, can we agree on one direction, pleeease? */
}

.horizontal .view-full .placeholder {
	-webkit-transform: translateZ(1500px) rotateY(-179.9deg);
	transform: translateZ(1500px) rotateY(-179.9deg);
}

.grid figure img {
	display: block;
	width: 100%;
}

.content,
.loading {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none; /* Careful, does not work in IE < 11 http://caniuse.com/#search=pointer-events */
}

.content {
	overflow-y: scroll;
	height: 0; /* What seems to be the problem, officer? Well, we have a second scroll bar in Chrome! */
	background: #fff;
	visibility: hidden;
	z-index: 400;
	-webkit-overflow-scrolling: touch;
}

.loading {
	opacity: 0;
	z-index: 1;
	background: transparent url(../img/preloader.gif) no-repeat center center;
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
}

.loading.show {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.content.show {
	height: auto;
	pointer-events: auto;
	visibility: visible;
}

.content > div {
	z-index: 10;
	position: absolute;
	top: 0;
	width: 100%;
	overflow: hidden;
	height: 0;
	opacity: 0;
	background: #fff;
}

.content > div.show {
	height: auto;
	opacity: 1;
	-webkit-transition: opacity 0.6s;
	transition: opacity 0.6s;
}

.icon:before {
	font-family: 'fontawesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.close-content {
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 10px;
	font-size: 1.6em;
	color: #aaa;
	cursor: pointer;
	pointer-events: none;
	padding: 1em;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.close-content:hover {
	color: #999;
}

.content > div.show ~ .close-content {
	opacity: 1;
	pointer-events: auto;
}

.close-content:before {
	content: "\e602";
}

/* Dummy content */

.dummy-img,
.dummy-text {
	max-width: 600px;
	width: 90%;
	opacity: 0;
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
}

.vertical .dummy-img,
.vertical .dummy-text {
	-webkit-transform: translateY(100px);
	transform: translateY(100px);
}

.horizontal .dummy-img,
.horizontal .dummy-text {
	-webkit-transform: translateX(-100px);
	transform: translateX(-100px);
}

.content > div.show .dummy-img,
.content > div.show .dummy-text {
	opacity: 1;
}

.vertical .content > div.show .dummy-img,
.vertical .content > div.show .dummy-text {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.horizontal .content > div.show .dummy-img,
.horizontal .content > div.show .dummy-text {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

p.dummy-text:nth-child(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

p.dummy-text:nth-child(3) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.dummy-img {
	height: 400px;
	background-color: #ddd;
	margin: 30px auto;
}

.dummy-text {
	text-align: left;
	margin: 0 auto;
	padding: 10px 0;
	color: #ddd;
	font-size: 1em;
	font-family: 'Blokk', Arial, serif;
}

.dummy-text:last-child {
	padding-bottom: 100px;
}

/* Simple fallback */
/* if any of these are not supported, a simple fallback will be shown */
.no-pointerevents .content,
.no-csstransforms3d .content,
.no-csstransitions .content,
.no-pointerevents .content > div,
.no-csstransforms3d .content > div,
.no-csstransitions .content > div,
.no-pointerevents .close-content,
.no-csstransforms3d .close-content,
.no-csstransitions .close-content {
	opacity: 1;
	visibility: visible;
	display: none;
	height: auto;
}

.no-pointerevents .show .close-content,
.no-csstransforms3d .show .close-content,
.no-csstransition .show .close-content,
.no-pointerevents div.show,
.no-csstransforms3d div.show,
.no-csstransitions div.show,
.no-csstransitions .dummy-img,
.no-csstransitions .dummy-text,
.no-csstransforms3d .dummy-img,
.no-csstransforms3d .dummy-text,
.no-pointerevents .dummy-img,
.no-pointerevents .dummy-text {
	display: block !important;
	opacity: 1;
}

@media screen and (max-width: 1000px) {

	.grid figure,
	.grid .placeholder {
		width: 240px;
		height: 212px;
	}

}
