@import url('https://fonts.googleapis.com/css?family=Oswald');
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    pointer-events: auto !important;
}

body::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}

body::-webkit-scrollbar-thumb {
    background: #000000;
}

.section-head {
    text-align: center;
    font-family: "Oswald"
}

.main {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

#preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 10000;
    background: white;
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -ms-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
    opacity: 0.9;
}

#preloader.hide {
    opacity: 0;
}

#preloader img {
    width: 300px;
    position: absolute;
    left: calc(50vw - 150px);
    top: calc(50vh - 150px);
}


/*
old drishti start
*/

#old-drishti-container {
    background: #ecf0f1;
    height: 100vh;
    display: none;
    z-index: 70;
}

#old-drishti {
    width: 60%;
    left: 20%;
    position: absolute;
    top: 25%;
}

@media (max-width: 700px) {
    #old-drishti {
        top: 30%;
    }
}

#old-presents {
    width: 25%;
    position: absolute;
    left: 50%;
    top: -10%;
}

#old-logo {
    width: 100%;
}


/*old drishti end*/


/*alert*/

.alert-modal {
    position: fixed;
    display: table-cell;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.56);
    z-index: 10000;
    display: none;
}

.alert-modal .alert {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    margin-top: 40vh;
}


/*alert end*/


/*dexter start*/

#dexter {
    width: 175px;
    height: 300px;
    position: absolute;
    bottom: 0px;
    left: 10px;
    background-image: url("../images/dexter_sprite.png");
    animation-name: logo-animation, movement;
    animation-duration: 8s;
    /*animation-delay: 1s;*/
    animation-timing-function: steps(53, start);
    display: none;
    z-index: 80;
}

.dexter {
    animation-name: movement;
    animation-delay: 3s;
    animation-duration: 2s;
}

@keyframes movement {
    from {
        left: 10px;
    }
    20% {
        left: 10px;
    }
    40% {
        left: 200px;
    }
    70% {
        left: 200px;
    }
    to {
        left: -20px;
    }
}

@keyframes logo-animation {
    from {
        background-position: 0px bottom;
        ;
    }
    to {
        background-position: -9820px bottom;
    }
}


/*dexter end*/


/*new drishti logo start*/

#new-drishti-container {
    background: #000000;
    height: 100vh;
    position: absolute;
    top: 0px;
    width: 100%;
}

#main-logo {
    position: absolute;
    width: 60vw;
    left: 20vw;
    top: 10vh;
    text-align: center;
    height: 80vh;
}

#main-logo .logo {
    max-height: 100%;
    max-width: 100%;
}

@media screen and (max-width:700px) {
    #main-logo {
        position: absolute;
        width: 80vw;
        left: 10vw;
        top: 15vh;
        text-align: center;
        height: 80vh;
    }
}


/*Social*/

#social {
    position: absolute;
    top: 10px;
    right: 5px;
    height: 100px;
    width: 150px;
    text-align: center;
}

#social #login h3 {
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: "Lato";
}

#social #loggedIn {
    display: none;
    margin-top: 10px;
}

#social #loggedIn p {
    color: white;
}

.account-name {
    font-weight: bold
}

.soc-icons {
    width: 50%;
    text-align: center;
    height: 60px;
}

.soc-icons img {
    height: 100%;
    cursor: pointer;
}

.soc-icons.google {
    float: left;
    padding: 6px;
}

.soc-icons.face {
    float: right;
}

#login .icons-container {
    width: 130px;
    margin: auto;
}

#login .icons-container:after {
    clear: both;
}

.btn.logout-button {
    background: #fd615f;
    color: white;
}


/*Social end*/


/*new drishti logo start*/


/*navigation start*/

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative
}

html,
body {
    height: 100%;
    width: 100%;
}

.csstransforms .cn-wrapper {
    font-size: 1em;
    width: 26em;
    height: 26em;
    overflow: hidden;
    position: fixed;
    z-index: 10;
    bottom: -13em;
    left: 50%;
    border-radius: 50%;
    margin-left: -13em;
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -moz-transform: scale(0.1);
    transform: scale(0.1);
    pointer-events: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.csstransforms .opened-nav {
    border-radius: 50%;
    pointer-events: auto;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.cn-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 2;
}

.cn-overlay.on-overlay {
    visibility: visible;
    opacity: 1;
}

.cn-button {
    border: none;
    background: none;
    color: #263238;
    text-align: center;
    font-size: 1.8em;
    padding-bottom: 1em;
    height: 3.5em;
    width: 3.5em;
    background-color: #fff;
    position: fixed;
    left: 50%;
    margin-left: -1.75em;
    bottom: -1.75em;
    border-radius: 50%;
    cursor: pointer;
    z-index: 11;
}

.cn-button:hover,
.cn-button:active,
.cn-button:focus {
    color: #aa1010;
}

.csstransforms .cn-wrapper li {
    position: absolute;
    font-size: 1.5em;
    width: 10em;
    height: 10em;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    overflow: hidden;
    left: 50%;
    top: 50%;
    margin-top: -1.3em;
    margin-left: -10em;
    -webkit-transition: border .3s ease;
    -moz-transition: border .3s ease;
    transition: border .3s ease;
}

.csstransforms .cn-wrapper li a {
    display: block;
    font-size: 1.18em;
    height: 14.5em;
    width: 14.5em;
    position: absolute;
    bottom: -7.25em;
    right: -7.25em;
    border-radius: 50%;
    text-decoration: none;
    color: #fff;
    padding-top: 1.8em;
    text-align: center;
    -webkit-transform: skew(-50deg) rotate(-70deg) scale(1);
    -ms-transform: skew(-50deg) rotate(-70deg) scale(1);
    -moz-transform: skew(-50deg) rotate(-70deg) scale(1);
    transform: skew(-50deg) rotate(-70deg) scale(1);
    -webkit-backface-visibility: hidden;
    -webkit-transition: opacity 0.3s, color 0.3s;
    -moz-transition: opacity 0.3s, color 0.3s;
    transition: opacity 0.3s, color 0.3s;
}

.csstransforms .cn-wrapper li a span {
    font-size: 1.1em;
    opacity: 0.7;
}


/* for a central angle x, the list items must be skewed by 90-x degrees
in our case x=40deg so skew angle is 50deg
items should be rotated by x, minus (sum of angles - 180)2s (for this demo) */

.csstransforms .cn-wrapper li:first-child {
    -webkit-transform: rotate(-10deg) skew(50deg);
    -ms-transform: rotate(-10deg) skew(50deg);
    -moz-transform: rotate(-10deg) skew(50deg);
    transform: rotate(-10deg) skew(50deg);
}

.csstransforms .cn-wrapper li:nth-child(2) {
    -webkit-transform: rotate(30deg) skew(50deg);
    -ms-transform: rotate(30deg) skew(50deg);
    -moz-transform: rotate(30deg) skew(50deg);
    transform: rotate(30deg) skew(50deg);
}

.csstransforms .cn-wrapper li:nth-child(3) {
    -webkit-transform: rotate(70deg) skew(50deg);
    -ms-transform: rotate(70deg) skew(50deg);
    -moz-transform: rotate(70deg) skew(50deg);
    transform: rotate(70deg) skew(50deg)
}

.csstransforms .cn-wrapper li:nth-child(4) {
    -webkit-transform: rotate(110deg) skew(50deg);
    -ms-transform: rotate(110deg) skew(50deg);
    -moz-transform: rotate(110deg) skew(50deg);
    transform: rotate(110deg) skew(50deg);
}

.csstransforms .cn-wrapper li:nth-child(5) {
    -webkit-transform: rotate(150deg) skew(50deg);
    -ms-transform: rotate(150deg) skew(50deg);
    -moz-transform: rotate(150deg) skew(50deg);
    transform: rotate(150deg) skew(50deg);
}

.csstransforms .cn-wrapper li:nth-child(odd) a {
    background-color: #a11313;
    /*background-color: hsla(0, 88%, 63%, 1);*/
    background-color:#263238;
}

.csstransforms .cn-wrapper li:nth-child(even) a {
    background-color: #a61414;
    background-color: #37444a;
}


/* active style */

.csstransforms .cn-wrapper li.active a {
    background-color:#000;
    background-color: hsla(0, 88%, 70%, 1);
}


/* hover style */

.csstransforms .cn-wrapper li:not(.active) a:hover,
.csstransforms .cn-wrapper li:not(.active) a:active,
.csstransforms .cn-wrapper li:not(.active) a:focus {
    background-color: #000;
    background-color: #000;
}

.csstransforms .cn-wrapper li:not(.active) a:focus {
    position: fixed;
}


/* fallback */

.no-csstransforms .cn-button {
    display: none;
}

.no-csstransforms .cn-wrapper li {
    position: static;
    float: left;
    font-size: 1em;
    height: 5em;
    width: 5em;
    background-color: #eee;
    text-align: center;
    line-height: 5em;
}

.no-csstransforms .cn-wrapper li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    font-size: 1.3em;
    border-right: 1px solid #ddd;
}

.no-csstransforms .cn-wrapper li a:last-child {
    border: none;
}

.no-csstransforms .cn-wrapper li a:hover,
.no-csstransforms .cn-wrapper li a:active,
.no-csstransforms .cn-wrapper li a:focus {
    background-color: white;
}

.no-csstransforms .cn-wrapper li.active a {
    background-color: #6F325C;
    color: #fff;
}

.no-csstransforms .cn-wrapper {
    font-size: 1em;
    height: 5em;
    width: 25.15em;
    bottom: 0;
    margin-left: -12.5em;
    overflow: hidden;
    position: fixed;
    z-index: 10;
    left: 50%;
    border: 1px solid #ddd;
}

@media screen and (max-width:480px) {
    .csstransforms .cn-wrapper {
        font-size: .68em;
    }
    .cn-button {
        font-size: 1em;
    }
    .csstransforms .cn-wrapper li {
        font-size: 1.52em;
    }
}

@media screen and (max-width:320px) {
    .no-csstransforms .cn-wrapper {
        width: 15.15px;
        margin-left: -7.5em;
    }
    .no-csstransforms .cn-wrapper li {
        height: 3em;
        width: 3em;
    }
}

.csstransforms .cn-wrapper li a span {
    font-size: 15px;
}


/*navigation end*/

.about {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    background-color: #50514f;
    width: 100%;
    height: auto;
    display: block;
    padding-top: 1px;
    background-attachment: fixed;
    z-index: 1;
}

.events {
    font-family: 'Oswald', sans-serif;
    background-color: #237b9f;
    width: 100%;
    height: 100vh;
    display: block;
    padding-top: 1px;
}

.event-modal {
    padding: 10px;
}

.event-modal-img {
    margin-top: 20px;
}

.event-modal-name {
    text-align: center;
    background: #1d767b;
    padding: 10px;
    color: white;
}

.event-content {
    font-family: "Lato";
}

.event-content h3 {
    color: #1d767b;
    font-weight: bold;
    margin-bottom: 20px;
}

.event-info {
    text-align: left;
    padding: 10px;
    font-size: 15px;
    margin-top: 10px;
}

.event-register {
    text-align: left;
    padding-left: 10px;
}

.event-contact .name {
    font-weight: bold;
}

.content.show::-webkit-scrollbar {
    width: 8px;
    background-color: #fff;
}

.content.show::-webkit-scrollbar-thumb {
    background-color: #237b9f;
    border: 2px solid #fff;
}

.event-group {
    display: none;
    margin-bottom: 10px;
}

.registered {
    text-align: center;
    color: #337ab7;
    font-family: "Lato";
    font-weight: bold
}

#workshopModal .modal-dialog {
    width: 100%;
    margin: 0;
}

#workshopModal {
    padding: 0px !important;
    font-family: "Oswald"
}

@media only screen and (max-width: 760px) {
    .event-info {
        text-align: center;
    }
    .event-register {
        text-align: center;
    }
}

@media only screen and (min-width: 640px) {
    .event-modal {
        padding: 5% 10%;
    }
}

a {
    text-decoration: none;
}

nav {
    display: table;
    position: relative;
    table-layout: fixed;
    width: 200px;
    background: white;
}

nav input {
    display: none;
}

nav label {
    margin: 0;
}

nav div.nav-container {
    display: table-row;
}

nav div.nav-container>div {
    display: table-cell;
}

nav div.nav-container>div:nth-of-type(10n+1) .slide,
nav div.nav-container>div:nth-of-type(10n+1) a {
    border-color: #8cc63f;
}

nav div.nav-container>div:nth-of-type(10n+1) .slide:hover,
nav div.nav-container>div:nth-of-type(10n+1) a:hover {
    color: #567b24;
}

nav div.nav-container>div:nth-of-type(10n+1) .slide~.child-menu,
nav div.nav-container>div:nth-of-type(10n+1) a~.child-menu {
    background-color: #a4d266;
}

nav div.nav-container>div:nth-of-type(10n+1) input:checked~label,
nav div.nav-container>div:nth-of-type(10n+1) .slide.active~label {
    color: #8cc63f;
}

nav div.nav-container>div:nth-of-type(10n+2) .slide,
nav div.nav-container>div:nth-of-type(10n+2) a {
    border-color: #ef3724;
}

nav div.nav-container>div:nth-of-type(10n+2) .slide:hover,
nav div.nav-container>div:nth-of-type(10n+2) a:hover {
    color: #a11a0c;
}

nav div.nav-container>div:nth-of-type(10n+2) .slide~.child-menu,
nav div.nav-container>div:nth-of-type(10n+2) a~.child-menu {
    background-color: #f26254;
}

nav div.nav-container>div:nth-of-type(10n+2) input:checked~label,
nav div.nav-container>div:nth-of-type(10n+2) .slide.active~label {
    color: #ef3724;
}

nav div.nav-container>div:nth-of-type(10n+3) .slide,
nav div.nav-container>div:nth-of-type(10n+3) a {
    border-color: #ffa61a;
}

nav div.nav-container>div:nth-of-type(10n+3) .slide:hover,
nav div.nav-container>div:nth-of-type(10n+3) a:hover {
    color: #b36d00;
}

nav div.nav-container>div:nth-of-type(10n+3) .slide~.child-menu,
nav div.nav-container>div:nth-of-type(10n+3) a~.child-menu {
    background-color: #ffba4d;
}

nav div.nav-container>div:nth-of-type(10n+3) input:checked~label,
nav div.nav-container>div:nth-of-type(10n+3) .slide.active~label {
    color: #ffa61a;
}

nav div.nav-container>div:nth-of-type(10n+4) .slide,
nav div.nav-container>div:nth-of-type(10n+4) a {
    border-color: #1ab1ff;
}

nav div.nav-container>div:nth-of-type(10n+4) .slide:hover,
nav div.nav-container>div:nth-of-type(10n+4) a:hover {
    color: #0076b3;
}

nav div.nav-container>div:nth-of-type(10n+4) .slide~.child-menu,
nav div.nav-container>div:nth-of-type(10n+4) a~.child-menu {
    background-color: #4dc2ff;
}

nav div.nav-container>div:nth-of-type(10n+4) input:checked~label,
nav div.nav-container>div:nth-of-type(10n+4) .slide.active~label {
    color: #1ab1ff;
}

nav div.nav-container>div:nth-of-type(10n+5) .slide,
nav div.nav-container>div:nth-of-type(10n+5) a {
    border-color: #FC1DCF;
}

nav div.nav-container>div:nth-of-type(10n+5) .slide:hover,
nav div.nav-container>div:nth-of-type(10n+5) a:hover {
    color: #b1028d;
}

nav div.nav-container>div:nth-of-type(10n+5) .slide~.child-menu,
nav div.nav-container>div:nth-of-type(10n+5) a~.child-menu {
    background-color: #fd4fda;
}

nav div.nav-container>div:nth-of-type(10n+5) input:checked~label,
nav div.nav-container>div:nth-of-type(10n+5) .slide.active~label {
    color: #FC1DCF;
}

nav div.nav-container>div:nth-of-type(10n+6) .slide,
nav div.nav-container>div:nth-of-type(10n+6) a {
    border-color: #8cc63f;
}

nav div.nav-container>div:nth-of-type(10n+6) .slide:hover,
nav div.nav-container>div:nth-of-type(10n+6) a:hover {
    color: #567b24;
}

nav div.nav-container>div:nth-of-type(10n+6) .slide~.child-menu,
nav div.nav-container>div:nth-of-type(10n+6) a~.child-menu {
    background-color: #a4d266;
}

nav div.nav-container>div:nth-of-type(10n+6) input:checked~label,
nav div.nav-container>div:nth-of-type(10n+6) .slide.active~label {
    color: #8cc63f;
}

nav div.nav-container>div:nth-of-type(10n+7) .slide,
nav div.nav-container>div:nth-of-type(10n+7) a {
    border-color: #ef3724;
}

nav div.nav-container>div:nth-of-type(10n+7) .slide:hover,
nav div.nav-container>div:nth-of-type(10n+7) a:hover {
    color: #a11a0c;
}

nav div.nav-container>div:nth-of-type(10n+7) .slide~.child-menu,
nav div.nav-container>div:nth-of-type(10n+7) a~.child-menu {
    background-color: #f26254;
}

nav div.nav-container>div:nth-of-type(10n+7) input:checked~label,
nav div.nav-container>div:nth-of-type(10n+7) .slide.active~label {
    color: #ef3724;
}

nav div.nav-container>div:nth-of-type(10n+8) .slide,
nav div.nav-container>div:nth-of-type(10n+8) a {
    border-color: #ffa61a;
}

nav div.nav-container>div:nth-of-type(10n+8) .slide:hover,
nav div.nav-container>div:nth-of-type(10n+8) a:hover {
    color: #b36d00;
}

nav div.nav-container>div:nth-of-type(10n+8) .slide~.child-menu,
nav div.nav-container>div:nth-of-type(10n+8) a~.child-menu {
    background-color: #ffba4d;
}

nav div.nav-container>div:nth-of-type(10n+8) input:checked~label,
nav div.nav-container>div:nth-of-type(10n+8) .slide.active~label {
    color: #ffa61a;
}

nav div.nav-container>div:nth-of-type(10n+9) .slide,
nav div.nav-container>div:nth-of-type(10n+9) a {
    border-color: #1ab1ff;
}

nav div.nav-container>div:nth-of-type(10n+9) .slide:hover,
nav div.nav-container>div:nth-of-type(10n+9) a:hover {
    color: #0076b3;
}

nav div.nav-container>div:nth-of-type(10n+9) .slide~.child-menu,
nav div.nav-container>div:nth-of-type(10n+9) a~.child-menu {
    background-color: #4dc2ff;
}

nav div.nav-container>div:nth-of-type(10n+9) input:checked~label,
nav div.nav-container>div:nth-of-type(10n+9) .slide.active~label {
    color: #1ab1ff;
}

nav div.nav-container>div:nth-of-type(10n+10) .slide,
nav div.nav-container>div:nth-of-type(10n+10) a {
    border-color: #FC1DCF;
}

nav div.nav-container>div:nth-of-type(10n+10) .slide:hover,
nav div.nav-container>div:nth-of-type(10n+10) a:hover {
    color: #b1028d;
}

nav div.nav-container>div:nth-of-type(10n+10) .slide~.child-menu,
nav div.nav-container>div:nth-of-type(10n+10) a~.child-menu {
    background-color: #fd4fda;
}

nav div.nav-container>div:nth-of-type(10n+10) input:checked~label,
nav div.nav-container>div:nth-of-type(10n+10) .slide.active~label {
    color: #FC1DCF;
}

nav a,
nav label {
    -moz-transition-property: color;
    -o-transition-property: color;
    -webkit-transition-property: color;
    transition-property: color;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

nav .slide {
    padding: 0;
    font-size: 1em;
    display: block;
    color: #393939;
    border-top: 4px solid transparent;
    position: relative;
    -moz-transition-property: border-width, color;
    -o-transition-property: border-width, color;
    -webkit-transition-property: border-width, color;
    transition-property: border-width, color;
    -moz-transition-duration: 0.1s, 0.2s;
    -o-transition-duration: 0.1s, 0.2s;
    -webkit-transition-duration: 0.1s, 0.2s;
    transition-duration: 0.1s, 0.2s;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -moz-transition-delay: 0.2s, 0s;
    -o-transition-delay: 0.2s, 0s;
    -webkit-transition-delay: 0.2s, 0s;
    transition-delay: 0.2s, 0s;
}

nav .slide .element {
    font-size: 1.25em;
    font-weight: 600;
    font-style: normal;
    display: block;
    line-height: 1;
    padding: 10px;
    padding-left: 16px;
}

nav .slide .name {
    font-size: 0.6875em;
    position: relative;
}

nav .has-child .name:after {
    content: "";
    width: 10px;
    height: 4px;
    background-image: url("http://www.elemental-shift.com/remote-assets/down-arrow.svg");
    display: block;
    position: absolute;
    bottom: -9px;
    left: 1px;
    background-repeat: no-repeat;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

nav .child-menu {
    display: block;
    position: absolute;
    max-height: 0;
    overflow: hidden;
    background-color: #393939;
    width: 100%;
    top: 65px;
    left: 0;
    z-index: 5000;
    -moz-transition-property: max-height;
    -o-transition-property: max-height;
    -webkit-transition-property: max-height;
    transition-property: max-height;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

nav .child-menu a {
    color: white;
    display: inline-block;
    padding: 15px 30px 15px 10px;
    font-size: 0.9375em;
}

nav input:checked~.child-menu {
    max-height: 100px;
    -moz-transition-property: max-height;
    -o-transition-property: max-height;
    -webkit-transition-property: max-height;
    transition-property: max-height;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

nav input:checked~.has-child .name:after {
    -moz-transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.events-nav {
    font-family: 'Oswald', sans-serif;
    text-align: left;
    font-size: 1.2em;
}

.events-body {
    width: calc(100vw - 220px);
    height: calc(100vh - 100px);
    float: right;
}

.events-bg {
    width: 100%;
    /*height: 100%;*/
}

.events-grid {
    height: 100%;
    overflow-y: scroll;
    margin-right: 10px;
}

.events-grid::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #237b9f;
    box-shadow: inset 0 0 6px #237b9f;
    background-color: #fff;
}

.events-grid::-webkit-scrollbar {
    width: 5px;
    background-color: #fff;
}

.events-grid::-webkit-scrollbar-thumb {
    background-color: #237b9f;
    border: 2px solid #fff;
}

.event-grid-title {
    text-align: center;
    font-family: "Oswald";
    color: white;
    padding: 10px;
    font-size: 1.1em;
}

h1.events-head {
    /*font-family: 'Playfair Display', serif;*/
    color: white;
}

@media only screen and (min-width: 48.0625em) {
    nav {
        display: block;
        table-layout: auto;
    }
    nav div.nav-container {
        display: block;
    }
    nav div.nav-container>div {
        display: block;
        margin: 5px 0;
    }
    nav div.nav-container>div:hover .slide {
        border-left-width: 55px;
        -moz-transition-delay: 0;
        -o-transition-delay: 0;
        -webkit-transition-delay: 0;
        transition-delay: 0;
    }
    nav .slide {
        display: block;
        width: auto;
        border-left: solid 4px #393939;
        border-top: none;
    }
    nav .slide .element {
        line-height: 1;
    }
    nav .child-menu {
        display: block;
        position: relative;
        top: 0;
        background-color: transparent !important;
        margin-left: 55px;
        width: auto;
        max-height: 0px;
        overflow: hidden;
        border-top: none;
    }
    nav .child-menu a {
        color: #393939;
        display: block;
        padding: 3px 0 3px 10px;
        font-size: 0.8125em;
    }
    nav input:checked~div.child-menu {
        max-height: 120px;
    }
    nav input:checked~.slide {
        border-width: 55px;
    }
}

.masthead {
    font-family: "Open Sans", sans-serif;
    width: auto;
    background: white;
    overflow-x: hidden;
}

.masthead::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #237b9f;
    box-shadow: inset 0 0 6px #237b9f;
    /*background-color: #fff;*/
}

.masthead::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #fff;
}

.masthead::-webkit-scrollbar-thumb {
    background-color: #237b9f;
    border: 2px solid #fff;
}

.masthead .brand-container {
    padding: 10px;
    background-color: #393939;
}

.masthead .brand-container a {
    color: white;
    display: inline-block;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

.masthead .brand-container a:hover {
    color: #8cc63f;
}

.masthead .brand-initials {
    font-size: 3.0625em;
    font-weight: 700;
    font-style: normal;
    display: block;
    line-height: 42px;
}

.masthead .brand-name {
    font-size: 0.8125em;
    text-indent: 3px;
    display: block;
}

@media only screen and (min-width: 48.0625em) {
    .masthead {
        width: 200px;
        padding: 0;
        margin: 0;
        float: left;
    }
    .masthead .brand-container {
        padding: 10px 0 50px 10px;
    }
    .masthead .brand-container a {
        display: block;
    }
}

@media only screen and (max-width: 48.0625em) {
    .events-body {
        width: 100vw;
        height: calc(100vh - 130px);
    }
    .masthead {
        overflow-x: scroll;
    }
}


/* event nav bar */

.workshops {
    background-color: #ffe066;
    width: 100%;
    height: 100vh;
    display: block;
    padding: 5px;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding-bottom: 80px;
    -o-background-size: cover;
}

.workshops-container {
    height: 100%;
    overflow-y: scroll;
    margin-top: 25px;
}

.workshops-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #ffe066;
    box-shadow: inset 0 0 6px #fff066;
    background-color: #fff;
}

.workshops-container::-webkit-scrollbar {
    width: 5px;
    background-color: #fff;
}

.workshops-container::-webkit-scrollbar-thumb {
    background-color: #ffe066;
    border: 2px solid #fff;
}

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,900);
@font-face {
    font-weight: normal;
    font-style: normal;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.container>header,
.codrops-top {
    font-family: 'Lato', Arial, sans-serif;
}

.container>header {
    margin: 0 auto;
    padding: 2em;
    text-align: center;
    background: rgba(0, 0, 0, 0.01);
}

.container>header h1 {
    font-size: 2.625em;
    line-height: 1.3;
    margin: 0;
    font-weight: 300;
}

.container>header span {
    display: block;
    font-size: 60%;
    opacity: 0.7;
    padding: 0 0 0.6em 0.1em;
}


/* To Navigation Style */

.codrops-top {
    background: #fff;
    background: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    width: 100%;
    font-size: 0.69em;
    line-height: 2.2;
}

.codrops-top a {
    text-decoration: none;
    padding: 0 1em;
    letter-spacing: 0.1em;
    color: #888;
    display: inline-block;
}

.codrops-top a:hover {
    background: rgba(255, 255, 255, 0.95);
    color: #333;
}

.codrops-top span.right {
    float: right;
}

.codrops-top span.right a {
    float: left;
    display: block;
}

.codrops-icon:before {
    font-family: 'codropsicons';
    margin: 0 4px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
    content: "\e001";
}

.codrops-icon-prev:before {
    content: "\e004";
}


/* Demo Buttons Style */

.codrops-demos {
    padding-top: 1em;
    font-size: 0.9em;
}

.codrops-demos a {
    text-decoration: none;
    outline: none;
    display: inline-block;
    margin: 0.5em;
    padding: 0.7em 1.1em;
    border: 3px solid #b1aea6;
    color: #b1aea6;
    font-weight: 700;
}

.codrops-demos a:hover,
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
    border-color: #89867e;
    color: #89867e;
}

@media screen and (max-width: 25em) {
    .codrops-icon span {
        display: none;
    }
}

.wrapper {
    margin: 0 auto 100px auto;
}

.stage {
    list-style: none;
    padding: 0;
}


/*************************************
Build the scene and rotate on hover
**************************************/

.scene {
    width: 300px;
    height: 300px;
    margin: 30px;
    float: left;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
}

.movie {
    width: 300px;
    height: 300px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(-150px);
    -moz-transform: translateZ(-150px);
    transform: translateZ(-150px);
    -webkit-transition: -webkit-transform 350ms;
    -moz-transition: -moz-transform 350ms;
    transition: transform 350ms;
}

.movie:hover {
    -webkit-transform: rotateY(-78deg) translateZ(20px);
    -moz-transform: rotateY(-78deg) translateZ(20px);
    transform: rotateY(-78deg) translateZ(20px);
}


/*************************************
Transform and style the two planes
**************************************/

.movie .poster,
.movie .info {
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: #fff;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
}

.movie .poster {
    -webkit-transform: translateZ(150px);
    -moz-transform: translateZ(150px);
    transform: translateZ(150px);
    background-size: cover;
    background-repeat: no-repeat;
}

.movie .info {
    -webkit-transform: rotateY(90deg) translateZ(150px);
    -moz-transform: rotateY(90deg) translateZ(150px);
    transform: rotateY(90deg) translateZ(150px);
    border: 1px solid #B8B5B5;
}


/*************************************
Shadow beneath the 3D object
**************************************/

.csstransforms3d .movie::after {
    content: '';
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: rotateX(90deg) translateY(150px);
    -moz-transform: rotateX(90deg) translateY(150px);
    transform: rotateX(90deg) translateY(150px);
    -webkit-transition: box-shadow 350ms;
    -moz-transition: box-shadow 350ms;
    transition: box-shadow 350ms;
}

.csstransforms3d .movie:hover::after {
    box-shadow: 20px -5px 50px rgba(0, 0, 0, 0.3);
}


/*************************************
Movie information
**************************************/

.info header {
    color: #FFF;
    padding: 7px 10px;
    font-weight: bold;
    height: 70px;
    background: #f6605b;
    background-size: contain;
    background-repeat: no-repeat;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
    border-bottom: 10px solid #555;
}

.info header h1 {
    margin: 0 0 2px;
    height: 48px;
    width: 300px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: "Oswald";
    font-size: 25px;
}

.info p {
    padding: 1.2em 1.4em;
    margin: 2px 0 0;
    color: #666;
    line-height: 1.4em;
    font-size: 10px;
    font-weight: normal;
}

.workshop-read-more {
    position: absolute;
    bottom: 4px;
    right: 3px;
    background: #f6605b;
    color: white;
    font-size: 11px;
    border: none;
    padding: 4px;
    font-family: "Lato";
    border-radius: 4px;
}

.workshop-read-more:hover {
    background-color: #e63a34;
    border: 1px solid #f6605b;
    padding: 3px;
}


/*************************************
Generate "lighting" using box shadows
**************************************/

.movie .poster,
.movie .info,
.movie .info header {
    -webkit-transition: box-shadow 350ms;
    -moz-transition: box-shadow 350ms;
    transition: box-shadow 350ms;
}

.csstransforms3d .movie .poster {
    box-shadow: inset 0px 0px 40px rgba(255, 255, 255, 0);
}

.csstransforms3d .movie:hover .poster {
    box-shadow: inset 300px 0px 40px rgba(255, 255, 255, 0.8);
}

.csstransforms3d .movie .info,
.csstransforms3d .movie .info header {
    box-shadow: inset -300px 0px 40px rgba(0, 0, 0, 0.5);
}

.csstransforms3d .movie:hover .info,
.csstransforms3d .movie:hover .info header {
    box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0);
}


/*************************************
Posters and still images
**************************************/

.scene:nth-child(1) .movie .poster {
    background-image: url(../images/poster01.jpg);
}

.scene:nth-child(2) .poster {
    background-image: url(../images/poster02.jpg);
}

.scene:nth-child(3) .poster {
    background-image: url(../images/poster03.jpg);
}


/*.scene:nth-child(1) .info header {
    background-image: url(../images/still01.jpg);
}

.scene:nth-child(2) .info header {
    background-image: url(../images/still02.jpg);
}

.scene:nth-child(3) .info header {
    background-image: url(../images/still03.jpg);
}
*/


/*************************************
Fallback
**************************************/

.no-csstransforms3d .movie .poster,
.no-csstransforms3d .movie .info {
    position: relative;
}


/*************************************
Media Queries
**************************************/

@media screen and (max-width: 400px) {
    .scene {
        float: none;
        margin: 30px auto 60px;
    }
}


/* workshos element animation */

.sponsor {
    background-color: #247ba0;
    width: 100%;
    height: 100%;
    display: table;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
}


/*spnsor */

.contact {
    background-color: #70c1b3;
    width: 100%;
    height: 100%;
    display: table;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


/* contact */

.close.heavy {
    position: fixed;
    display: inline-block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    top: 10px;
    right: 20px;
}

.close.heavy:hover::before,
.close.heavy:hover::after {
    background: #333;
}

.close.heavy::before,
.close.heavy::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #7d7d7d;
}

.close.heavy::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close.heavy::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.close.heavy.heavy::before,
.close.heavy.heavy::after {
    height: 12px;
    margin-top: -6px;
}

.close.heavy.rounded::before,
.close.heavy.rounded::after {
    border-radius: 5px;
}


/* about section */

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Inconsolata', monospace;
    color: #141417;
    background: #d0cfc5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2,
.menu__link {
    font-family: 'Poppins', sans-serif;
}

.hidden {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    pointer-events: none;
}

.js .loading::before {
    content: '';
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #7f40f1;
}

.js .loading::after {
    content: '';
    position: fixed;
    z-index: 10000;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
    pointer-events: none;
    background: #fff;
    animation: loaderAnim 0.8s ease-out infinite alternate forwards;
}

@keyframes loaderAnim {
    to {
        transform: translate3d(0, -100px, 0);
    }
}

.content.intro {
    height: 93vh;
}

.demos {
    flex: none;
    width: 100%;
    padding: 0.75em 0 0 0;
}

.demo {
    font-weight: bold;
    margin: 0 1em 0.5em 0;
    pointer-events: visible;
}

.github {
    pointer-events: visible;
}

.demo--current {
    text-decoration: underline;
}


/* Content */

.content {
    overflow-x: hidden;
}

.content--full {
    height: 100vh;
    min-height: 600px;
}

.flexy {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.flexy--center {
    justify-content: center;
}

.flexy--row {
    flex-direction: row;
}

.content__heading {
    flex: none;
    width: 100%;
    padding: 0 5vw;
}

.content__heading--center {
    text-align: center;
}

.content__title {
    font-size: 8vw;
    line-height: 1.2;
    padding: 0 5vw;
}

.content__title--half {
    width: 50vw;
    z-index: 2;
}

.content__title--enclosed {
    padding: 0;
    margin: 0;
}

.content__title--center {
    margin: auto;
}

.content__title--right {
    text-align: right;
    padding: 0 0 0 2em;
}

.content__title--left {
    margin-left: -18vw;
}

.content__title--medium {
    font-size: 6vw;
}

.content__title--small {
    font-size: 2vw;
}

.content__title__inner {
    flex: none;
    display: inline-block;
    white-space: nowrap;
    position: relative;
}

.content__title__inner--offset-1 {
    top: -0.25em;
    left: 13.6vw;
}

.content__title__inner--offset-2 {
    top: -0.25em;
    left: 1.75vw;
}

.content__title__inner--offset-3 {
    left: -10vw;
    top: -0.25em;
}

.content__image-wrap {
    flex: none;
    width: 25vw;
}

.content__image-wrap--half {
    width: 50vw;
}

.content__image {
    width: 100%;
    display: block;
}

.triggers {
    border: 2px solid;
    padding: 3em;
    margin: 0 5vw;
    width: 40vw;
}


/* Related demos */

.content--related {
    padding: 8em 5vw;
    font-weight: bold;
    text-align: center;
}

.content--related h2 {
    font-family: 'Inconsolata', monospace;
    font-size: 1.25em;
}

.content--related .demos {
    padding-bottom: 3em;
}

.media-item {
    display: inline-block;
    padding: 1em;
    vertical-align: top;
    transition: color 0.3s;
}

.media-item__img {
    max-width: 100%;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
    opacity: 1;
}

.media-item__title {
    font-size: 1em;
    margin: 0;
    padding: 0.5em;
}


/* Demo specific styles */


/* Buttons */

.btn {
    border: 0;
    padding: 0;
    margin: 0;
    background: none;
    color: inherit;
}

.btn:focus {
    outline: none;
}

.btn--trigger {
    margin: 1em;
    display: block;
    white-space: nowrap;
}

.btn--default,
.btn--trigger::before {
    font-weight: bold;
    border: 2px solid;
    text-align: center;
    text-indent: 0;
    display: inline-block;
    line-height: 1.7;
}

.btn--trigger::before {
    content: 'Press';
    width: 4em;
    height: 2em;
    margin: 0 0.75em;
}

.btn--trigger:active::before {
    content: 'Ouch!';
}

.btn--default {
    padding: 0 1em;
    margin: 2vh 0 0;
}

.btn--tool {
    display: block;
    margin: 1em 0;
    font-size: 1.3em;
    color: #8a7c78;
}

.btn--menu {
    position: absolute;
    top: 3vw;
    right: 3vw;
    color: #939391;
    pointer-events: visible;
}

.btn--close {
    position: absolute;
    top: 3vw;
    right: 3vw;
    font-size: 0.75em;
    z-index: 100;
}

.btn--close {
    opacity: 0;
}

.box {
    max-width: 600px;
    width: 100%;
    font-size: 1.25em;
    margin: 16vh 0 0 0;
}

.box--small {
    max-width: 500px;
}

.box--border {
    padding: 2em 3em;
    border: 2px solid;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s;
}

.dual {
    width: 90%;
    margin: 8em auto 25vh;
    position: relative;
}

.dual__inner {
    position: absolute;
    width: 100%;
    height: 100%;
}

.dual__half {
    position: relative;
    height: 100%;
    width: 51%;
    right: 0;
    background: url("../images/1.jpg") no-repeat 50% 0%;
    background-size: cover;
}

.dual__content {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 40%;
    ;
    padding: 1.5em 2.5em;
    font-size: 1.75em;
    line-height: 1.4;
    color: #8a7c78;
}

.js .dual__content {
    opacity: 0;
    pointer-events: none;
    transform: translate3d(60px, 0, 0);
    transition: opacity 0.55s 0.4s, transform 0.55s 0.4s;
}

.dual__content.dual__content--show {
    opacity: 1;
    pointer-events: visible;
    transform: translate3d(0, 0, 0);
}

.author {
    margin: 1em 0 0 0;
    display: block;
    font-size: 0.65em;
}

.media {
    width: 90%;
    max-width: 800px;
    position: relative;
}

.media__inner {
    display: block;
    position: relative;
}

.media__image {
    display: block;
    max-width: 100%;
}

.media__toolbar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 2.15em;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-end;
}

.js .btn--tool {
    opacity: 0;
    pointer-events: none;
    transform: translate3d(200%, 0, 0);
    transition: opacity 0.6s 0.28s, transform 0.6s 0.28s;
    transition-timing-function: ease, cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.js .btn--tool:nth-child(2) {
    transition-delay: 0.32s;
}

.js .btn--tool:nth-child(3) {
    transition-delay: 0.34s;
}

.media__toolbar--show .btn--tool {
    opacity: 1;
    pointer-events: visible;
    transform: translate3d(0, 0, 0);
}

.demo-split {
    /*  background-image: url("../images/cet_image.jpg");*/
    /*background: #ff784a;*/
    /*color: #fff;*/
}

.js .demo-split.loading::before {
    background: #fff;
}

.js .demo-split.loading::after {
    background: #ff784a;
}

@media screen and (max-width: 56.250em) {
    .btn--tool {
        font-size: 3vw;
    }
    .media__toolbar {
        padding: 3.5vw;
    }
}

@media screen and (max-width: 50em) {
    .dual__content {
        min-height: 200px;
        font-size: 0.85em;
        padding: 1em;
    }
    .dual {
        margin-top: 0;
    }
}

.block-revealer__element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    pointer-events: none;
    opacity: 0;
}


/* about */

.dynamicTile .col-sm-2.col-xs-4 {
    padding: 5px;
}

.bigicon {
    font-size: 67px;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}

.icontext {
    color: white;
    font-size: 27px;
}

.bigicondark {
    font-size: 67px;
    color: black;
    margin-top: 20px;
    margin-bottom: 10px;
}

.icontextdark {
    color: black;
    font-size: 27px;
}

.dynamicTile .col-sm-4.col-xs-8 {
    padding: 5px;
}

#tile1 {
    background: #7C91C7;
}

#tile2 {
    background: #3B579D;
}

#tile3 {
    background: #153178;
}

#tile4 {
    background: #EACF46;
}

#tile5 {
    background: #EACF46;
}

#tile6 {
    background: #FFED94;
}

#tile7 {
    background: white;
}

#tile8 {
    background: #03133C;
}

#tile9 {
    background: #EACF46;
}

#tile10 {
    background: #EACF46;
}

.tilecaption {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    margin: 0!important;
    text-align: center;
    color: white;
    font-family: Segoe UI;
    font-weight: lighter;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}