body {
    padding: 0;
    margin: 0;
}

#preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    background: white;
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -ms-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
    opacity: 1;
}

#preloader.hide {
    opacity: 0;
}


/*
old drishti start
*/

#old-drishti-container {
    background: #ecf0f1;
    height: 100%;
}

#old-drishti {
    width: 60%;
    left: 20%;
    position: absolute;
    top: 25%;
}

@media (max-width: 700px) {
    #old-drishti {
        top: 30%;
    }
}

#old-presents {
    width: 25%;
    position: absolute;
    left: 50%;
    top: -10%;
}

#old-logo {
    width: 100%;
}


/*old drishti end*/


/*dexter start*/

#dexter {
    width: 80px;
    height: 100px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-image: url("../images/dexter_sprite.png");
    background-size: 1000px;
    animation-name: logo-animation;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-timing-function: steps(10, start);
}

@keyframes logo-animation {
    from {
        background-position: 0px top;
    }
    to {
        background-position: 500px top;
    }
}


/*dexter end*/


/*new drishti logo start*/

#new-drishti-container {
    background: #000000;
    height: 100%;
    display: none;
}

#main-logo {
    position: absolute;
    width: 60%;
    left: 20%;
    top: 20%;
    text-align: center;
    height: 60%;
}

#main-logo .logo {
    max-width: 70%;
    max-height: 100%;
}


/*new drishti logo start*/
