body {
    padding: 0;
    margin: 0;
}

#preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background: white;
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -ms-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
    opacity: 1;
}

#preloader.hide {
    opacity: 0;
}


/*
old drishti start
*/

#old-drishti-container {
    background: #ecf0f1;
    height: 100%;
    display: none;
}

#old-drishti {
    width: 60%;
    left: 20%;
    position: absolute;
    top: 25%;
}

@media (max-width: 700px) {
    #old-drishti {
        top: 30%;
    }
}

#old-presents {
    width: 25%;
    position: absolute;
    left: 50%;
    top: -10%;
}

#old-logo {
    width: 100%;
}


/*old drishti end*/


/*dexter start*/

#dexter {
    width: 80px;
    height: 100px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-image: url("../images/dexter_sprite.png");
    background-size: 1000px;
    animation-name: logo-animation;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-timing-function: steps(10, start);
    display: none;
}

@keyframes logo-animation {
    from {
        background-position: 0px top;
    }
    to {
        background-position: 500px top;
    }
}


/*dexter end*/


/*new drishti logo start*/

#new-drishti-container {
    background: #000000;
    height: 100%;
}

#main-logo {
    position: absolute;
    width: 50%;
    left: 25%;
    top: 20%;
    text-align: center;
    height: 60%;
}

#main-logo .logo {
    max-width: 70%;
    max-height: 100%;
}


/*new drishti logo start*/


/*navigation start*/

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative
}

html, body {
    height: 100%;
}

body {
    background: #f06060;
    color: #fff;
}

.csstransforms .cn-wrapper {
    font-size: 1em;
    width: 26em;
    height: 26em;
    overflow: hidden;
    position: fixed;
    z-index: 10;
    bottom: -13em;
    left: 50%;
    border-radius: 50%;
    margin-left: -13em;
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -moz-transform: scale(0.1);
    transform: scale(0.1);
    pointer-events: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.csstransforms .opened-nav {
    border-radius: 50%;
    pointer-events: auto;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.cn-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 2;
}

.cn-overlay.on-overlay {
    visibility: visible;
    opacity: 1;
}

.cn-button {
    border: none;
    background: none;
    color: #f06060;
    text-align: center;
    font-size: 1.8em;
    padding-bottom: 1em;
    height: 3.5em;
    width: 3.5em;
    background-color: #fff;
    position: fixed;
    left: 50%;
    margin-left: -1.75em;
    bottom: -1.75em;
    border-radius: 50%;
    cursor: pointer;
    z-index: 11;
}

.cn-button:hover, .cn-button:active, .cn-button:focus {
    color: #aa1010;
}

.csstransforms .cn-wrapper li {
    position: absolute;
    font-size: 1.5em;
    width: 10em;
    height: 10em;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    overflow: hidden;
    left: 50%;
    top: 50%;
    margin-top: -1.3em;
    margin-left: -10em;
    -webkit-transition: border .3s ease;
    -moz-transition: border .3s ease;
    transition: border .3s ease;
}

.csstransforms .cn-wrapper li a {
    display: block;
    font-size: 1.18em;
    height: 14.5em;
    width: 14.5em;
    position: absolute;
    bottom: -7.25em;
    right: -7.25em;
    border-radius: 50%;
    text-decoration: none;
    color: #fff;
    padding-top: 1.8em;
    text-align: center;
    -webkit-transform: skew(-50deg) rotate(-70deg) scale(1);
    -ms-transform: skew(-50deg) rotate(-70deg) scale(1);
    -moz-transform: skew(-50deg) rotate(-70deg) scale(1);
    transform: skew(-50deg) rotate(-70deg) scale(1);
    -webkit-backface-visibility: hidden;
    -webkit-transition: opacity 0.3s, color 0.3s;
    -moz-transition: opacity 0.3s, color 0.3s;
    transition: opacity 0.3s, color 0.3s;
}

.csstransforms .cn-wrapper li a span {
    font-size: 1.1em;
    opacity: 0.7;
}


/* for a central angle x, the list items must be skewed by 90-x degrees
in our case x=40deg so skew angle is 50deg
items should be rotated by x, minus (sum of angles - 180)2s (for this demo) */

.csstransforms .cn-wrapper li:first-child {
    -webkit-transform: rotate(-10deg) skew(50deg);
    -ms-transform: rotate(-10deg) skew(50deg);
    -moz-transform: rotate(-10deg) skew(50deg);
    transform: rotate(-10deg) skew(50deg);
}

.csstransforms .cn-wrapper li:nth-child(2) {
    -webkit-transform: rotate(30deg) skew(50deg);
    -ms-transform: rotate(30deg) skew(50deg);
    -moz-transform: rotate(30deg) skew(50deg);
    transform: rotate(30deg) skew(50deg);
}

.csstransforms .cn-wrapper li:nth-child(3) {
    -webkit-transform: rotate(70deg) skew(50deg);
    -ms-transform: rotate(70deg) skew(50deg);
    -moz-transform: rotate(70deg) skew(50deg);
    transform: rotate(70deg) skew(50deg)
}

.csstransforms .cn-wrapper li:nth-child(4) {
    -webkit-transform: rotate(110deg) skew(50deg);
    -ms-transform: rotate(110deg) skew(50deg);
    -moz-transform: rotate(110deg) skew(50deg);
    transform: rotate(110deg) skew(50deg);
}

.csstransforms .cn-wrapper li:nth-child(5) {
    -webkit-transform: rotate(150deg) skew(50deg);
    -ms-transform: rotate(150deg) skew(50deg);
    -moz-transform: rotate(150deg) skew(50deg);
    transform: rotate(150deg) skew(50deg);
}

.csstransforms .cn-wrapper li:nth-child(odd) a {
    background-color: #a11313;
    background-color: hsla(0, 88%, 63%, 1);
}

.csstransforms .cn-wrapper li:nth-child(even) a {
    background-color: #a61414;
    background-color: hsla(0, 88%, 65%, 1);
}


/* active style */

.csstransforms .cn-wrapper li.active a {
    background-color: #b31515;
    background-color: hsla(0, 88%, 70%, 1);
}


/* hover style */

.csstransforms .cn-wrapper li:not(.active) a:hover, .csstransforms .cn-wrapper li:not(.active) a:active, .csstransforms .cn-wrapper li:not(.active) a:focus {
    background-color: #b31515;
    background-color: hsla(0, 88%, 70%, 1);
}

.csstransforms .cn-wrapper li:not(.active) a:focus {
    position: fixed;
}


/* fallback */

.no-csstransforms .cn-button {
    display: none;
}

.no-csstransforms .cn-wrapper li {
    position: static;
    float: left;
    font-size: 1em;
    height: 5em;
    width: 5em;
    background-color: #eee;
    text-align: center;
    line-height: 5em;
}

.no-csstransforms .cn-wrapper li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    font-size: 1.3em;
    border-right: 1px solid #ddd;
}

.no-csstransforms .cn-wrapper li a:last-child {
    border: none;
}

.no-csstransforms .cn-wrapper li a:hover, .no-csstransforms .cn-wrapper li a:active, .no-csstransforms .cn-wrapper li a:focus {
    background-color: white;
}

.no-csstransforms .cn-wrapper li.active a {
    background-color: #6F325C;
    color: #fff;
}

.no-csstransforms .cn-wrapper {
    font-size: 1em;
    height: 5em;
    width: 25.15em;
    bottom: 0;
    margin-left: -12.5em;
    overflow: hidden;
    position: fixed;
    z-index: 10;
    left: 50%;
    border: 1px solid #ddd;
}

@media screen and (max-width:480px) {
    .csstransforms .cn-wrapper {
        font-size: .68em;
    }
    .cn-button {
        font-size: 1em;
    }
    .csstransforms .cn-wrapper li {
        font-size: 1.52em;
    }
}

@media screen and (max-width:320px) {
    .no-csstransforms .cn-wrapper {
        width: 15.15px;
        margin-left: -7.5em;
    }
    .no-csstransforms .cn-wrapper li {
        height: 3em;
        width: 3em;
    }
}

.csstransforms .cn-wrapper li a span{
    font-size:15px;
}
/*navigation end*/

.about{
  color:black;
  background-color: #50514f;
  padding-top:40px;
  width:100%;
  height:100%;
  display: table;
  position: relative;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;


}

.events{
  color:black;
  background-color: #f25f5c;
  padding-top:40px;
  width:100%;
  height:100%;
  display: table;
  position: relative;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

}

.workshops{
  color:black;
  background-color: #ffe066;
  padding-top:40px;
  width:100%;
  height:100%;
  display: table;
  position: relative;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

}

.sponsor{
  color:black;
  background-color:#247ba0;
  padding-top:40px;
width:100%;
height:100%;
display: table;
position: relative;
background-color: white;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;

}
/*spnsor */




.contact{
  color:black;
  background-color:#70c1b3;
  padding-top:40px;
  width:100%;
  height:100%;
  display: table;
  position: relative;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

ul.accordion{
    list-style:none;
    position:absolute;
    right:80px;
    top:0px;
    font-family: Cambria, serif;
    font-size: 16px;
    font-style: italic;
    line-height: 1.5em;
}
ul.accordion li{
    float:right;
    width:115px;
    height:480px;
    display:block;
    border-right:2px solid #fff;
    border-bottom:2px solid #fff;
    background-color:#fff;
    background-repeat:no-repeat;
    background-position:center center;
    position:relative;
    overflow:hidden;
    cursor:pointer;
    -moz-box-shadow:1px 3px 15px #555;
    -webkit-box-shadow:1px 3px 15px #555;
    box-shadow:1px 3px 15px #555;
}
ul.accordion li.bg1{
    background-image:url(../assets/images/1.jpg);
}
ul.accordion li.bg2{
    background-image:url(../assets/images/1.jpg);
}
ul.accordion li.bg3{
    background-image:url(../assets/images/1.jpg);
}
ul.accordion li.bg4{
    background-image:url(../assets/images/1.jpg);
}
ul.accordion li.bleft{
    border-left:2px solid #fff;
}
ul.accordion li .heading{
    background-color:#fff;
    padding:10px;
    margin-top:60px;
    opacity:0.9;
    text-transform:uppercase;
    font-style:normal;
    font-weight:bold;
    letter-spacing:1px;
    font-size:14px;
    color:#444;
    text-align:center;
    text-shadow:-1px -1px 1px #ccc;
}
ul.accordion li .description{
    position:absolute;
    width:480px;
    height:175px;
    bottom:0px;
    left:0px;
    display:none;
}
ul.accordion li .description h2{
    text-transform:uppercase;
    font-style:normal;
    font-weight:bold;
    letter-spacing:1px;
    font-size:45px;
    color:#444;
    text-align:left;
    margin:0px 0px 15px 20px;
    text-shadow:-1px -1px 1px #ccc;
}
ul.accordion li .description p{
    line-height:14px;
    margin:10px 22px;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    text-transform: none;
    letter-spacing: normal;
    line-height: 1.6em;
}
ul.accordion li .description a{
    position:absolute;
    bottom:5px;
    left:20px;
    text-transform:uppercase;
    font-style:normal;
    font-size:11px;
    text-decoration:none;
    color:#888;
}
ul.accordion li .description a:hover{
    color:#333;
    text-decoration:underline;
}

ul.accordion li .bgDescription{
    background:transparent url(../assets/images/bgDescription.png) repeat-x top left;
    height:340px;
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    display:none;
}


    #content{
        margin:0 auto;
    }
    .reference{
        clear:both;
        top:300px;
        left:0px;
        position:absolute;
        text-align:right;
        width:400px;
        padding:20px;
        background-color:#fff;
        -moz-box-shadow:1px 3px 15px #ddd;
        -webkit-box-shadow:1px 3px 15px #ddd;
        box-shadow:1px 3px 15px #ddd;
    }
    .reference p a{
        text-transform:uppercase;
        text-shadow:1px 1px 1px #fff;
        color:#666;
        text-decoration:none;
        font-size:10px;
    }
    .reference p a:hover{
        color:#333;
    }


/* contact */
